<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @grape_varietal, partial: "card", as: :grape_varietal %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "grape_varietals/grape_varietal_wines" %>
  </div>
</div>
