<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @grape_varietal, partial: "card", as: :grape_varietal %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
