<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Regions

    <a data-toggle="collapse" href="#country_regions_new_form">
      Add region
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @country.regions.each do |region| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to region, region %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to region, method: :delete, data: { confirm: "Do you really want to delete this region" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="country_regions_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
