<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Wines

    <a data-toggle="collapse" href="#category_wines_new_form">
      Add wine
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @category.wines.each do |wine| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to wine, wine %>

        <%= link_to wine, method: :delete, data: { confirm: "Do you really want to delete this wine" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="category_wines_new_form">
        <%= render partial: "categories/category_wines_new_form" %>
      </div>
    </div>

  </ul>
</div>
