<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @wine, partial: "card", as: :wine %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
